.contact-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text {
    position: absolute;
    font-size: 3vw;
    color: white;
    font-weight: bold;
}
